WGR-V-MAX/db/
WGR-V-MAX/incremental_db/
WGR-V-MAX/simulation/
WGR-V-MAX/sim_output/
WGR-V-MAX/simulation/qsim/
WGR-V-MAX/simulation/modelsim/
WGR-V-MAX/simulation/questa/
WGR-V-MAX/output_files/
WGR-V-MAX/greybox_tmp/
WGR-V-MAX/transcript
WGR-V-MAX/vsim.wlf
WGR-V-MAX/work/
WGR-V-MAX/modelsim.ini
WGR-V-MAX/sim_log.txt
WGR-V-MAX/tb_sim/transcript
WGR-V-MAX/tb_sim/vsim.wlf
WGR-V-MAX/tb_sim/work/
WGR-V-MAX/tb_sim/modelsim.ini
WGR-V-MAX/tb_sim/sim_log.txt
WGR-V-MAX/tb_sim/db/
*wgr_flat.hex
*wgr_fram.hex
.cdb/
*.rpt
*.summary
*.done
*.smsg
*.jdi
*.qws
*.qmsg
*.vo
*.v.bak
*.sdo
*.vho
*.sdf
*.vcd
*.vwf.vt
*.vwf.vwf
*.qdf
*.qxp
*.pin
*.qpf
*.qsf
*.qws
*.qar
*.qts
*.sta.rpt
*.jic
*.sof
*.pof
*.asm.rpt
*.qmsg
*.map.rpt
*.fit.rpt
*.tan.rpt
*.sta.rpt
*.dpf
*.htm
*.chg
*.temp
*.bak
*.log
*.~*
*.tmp
*.ddb
*.zip
*.tar.gz
*.dat
*.wlf
*.vstf
*.ucdb
*.sdf
*.key
*.log
*.mif
*.tcl~
*.cmp
*.bak
*.restore.log
*.sof
*.pof
*.jic
*.rbf
*.ttf
*.fs
*.map
*.qip
*.bb.v
*_bb.v
*_bb.vhd